body {
    background-color: beige
}

.header {
    background-color: black;;
    height: 10vh;
    width: 100%;
    color: white;
    font-family: 'Chango', cursive;
    text-align: center;
    font-size: 30px;
    padding-top: 15px ;
}
.header a {
    margin: 10px;
}

.left {
    background-color: darkcyan;
    height: 80vh;
    width: 20%;
    float: left;
}

.content {
    background-color: beige;
    height: 80vh;
    width: 60%;
    float: left;
}
.content h1{
    font-family: 'Kalam', cursive;
    padding-left: 20px;
    padding-top: 150px;
}
.content p{
    font-family: 'Handlee', cursive;
}
.right a {
    background-color: darkcyan;
    height: 80vh;
    width: 20%;
    float: right;
    color: white;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}
.right a{
    padding-top: 20px;
}

table {
    border-collapse: collapse;
    width: 97%;
    background-color:aliceblue ;
    margin: 10px;
    }

th {
    text-align: left;
}

.footer {
    background-color:black;
    height: 10vh;
    width: 100%;
    clear: both;
    text-align: center;
    color:white;
    padding-top: 10px;
    
}

img {
    width: 20%;
    height: auto;
    padding:10px 20px;
    float: right;
}

.left ul {
    background-color: beige;
    margin: 10px;
    list-style: none;
    padding: 10px;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    }

 .left li a {display: block;
     padding: 8px;
     margin-bottom: 7px;
     background-color :#33b5e5;
     color: #ffffff;
     font-size: large;

   }

.left li a:hover {
    background-color: darkcyan;
}
.left p{
    background-color: beige;
    margin: 10px;
    list-style: none;
    padding: 10px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: x-large;
    text-align: center;

}

/* li*/